/* BUTTON COLOR */
.btn-primary {
  /* background-color: #df251f !important;
  border-color: #df251f !important;
  color: #fff !important; */

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#13171a),
    to(#3a4fff)
  ) !important;
  background-image: linear-gradient(90deg, #13171a 0, #3a4fff) !important;

  /* border-color: transparent !important; */
  border-color: #fff !important;
  color: #fff !important;
}
.btn-primary:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3a4fff),
    to(#13171a)
  ) !important;
  background-image: linear-gradient(90deg, #3a4fff 0, #13171a) !important;

  transition: 0.3s !important;
  /* border-color: transparent !important; */
  border-color: #fff !important;
  color: #fff !important;
}

.btn-outline-primary {
  border-color: #3a4fff !important;
  color: #3a4fff !important;
}
.btn-outline-primary:hover {
  border-color: #3a4fff !important;
  color: #3a4fff !important;
}

/* Highlighting - Colors */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  border-bottom-color: #3a4fff !important;
}

/* CMS BACKGROUND COLOR */
.cms .cms-menu__header {
  background: #13171a !important;
}
.cms-menu {
  background: #13171a !important;
}
.cms-menu__list li a {
  background: #13171a !important;
}
.cms-menu .cms-panel-toggle {
  background: #13171a !important;
}

/* CMS BORDER COLOR */
.cms-menu__header .cms-sitename {
  border-right: 1px solid #fff;
}
.cms-login-status__logout-link {
  border-right: 1px solid #fff;
}
.cms .cms-menu__header {
  border-color: #fff !important;
}
.cms-sitename {
  border-color: #fff !important;
}
.cms-menu__list li a {
  -webkit-box-shadow: inset #fff -1px 0 0 !important;
  box-shadow: inset -1px 0 0 #fff !important;
}
.cms-menu .cms-panel-content {
  -webkit-box-shadow: inset #fff -1px 0 0 !important;
  box-shadow: inset -1px 0 0 #fff !important;
}

.cms-menu .cms-panel-toggle {
  border-color: #fff !important;
  -webkit-box-shadow: inset #fff -1px 0 0 !important;
  box-shadow: inset -1px 0 0 #fff !important;
}

/* CMS COLOR */
.cms-mobile-menu-toggle {
  color: #fff !important;
}
.cms .cms-menu__header {
  color: #fff !important;
}
.cms-menu__header span,
.cms-login-status .cms-login-status__profile-link,
.cms-login-status .cms-login-status__logout-link,
.cms-sitename .cms-sitename__title {
  color: #fff !important;
}
.cms-menu {
  color: #fff !important;
}
.cms-menu__list li a {
  color: #fff !important;
}
.cms-menu__list li a .text::after {
  color: #fff !important;
}
.branded-menu__list-item--children.opened a {
  color: #fff !important;
}
.branded-menu .branded-menu__list-item--children.current a {
  color: #fff !important;
}
.cms-menu .cms-panel-toggle {
  color: #fff !important;
}
.cms-panel .cms-panel-toggle .toggle-collapse span,
.cms-panel .cms-panel-toggle .toggle-expand span {
  color: #fff !important;
}
.cms-menu .sticky-status-indicator {
  color: #fff !important;
}

/* CMS HOVER BACKGROUND COLOR */
.cms-sitename:hover,
.cms-sitename:focus {
  background-color: #3a4fff !important;
}
.cms-login-status .cms-login-status__profile-link:focus,
.cms-login-status .cms-login-status__profile-link:hover,
.cms-login-status .cms-login-status__profile-link:focus span,
.cms-login-status .cms-login-status__profile-link:hover span {
  background-color: #3a4fff !important;
}
.cms-login-status .cms-login-status__logout-link:focus,
.cms-login-status .cms-login-status__logout-link:hover {
  background-color: #3a4fff !important;
}
.cms-menu__list li a:hover,
.cms-menu__list li a:focus {
  background: #3a4fff !important;
}
.branded-menu .branded-menu__list-item--children.opened a:hover,
.branded-menu .branded-menu__list-item--children.opened a:focus {
  background: #3a4fff !important;
}
.cms .branded-menu .branded-menu__list-item--children > a:hover,
.cms .branded-menu .branded-menu__list-item--children.opened > a:hover {
  background: #3a4fff !important;
}

/* CMS HOVER COLOR */
.cms-sitename:hover,
.cms-sitename:focus {
  color: #fff !important;
}
.cms-login-status .cms-login-status__profile-link:focus,
.cms-login-status .cms-login-status__profile-link:hover,
.cms-login-status .cms-login-status__profile-link:focus span,
.cms-login-status .cms-login-status__profile-link:hover span {
  color: #fff !important;
}
.cms-login-status .cms-login-status__logout-link:focus,
.cms-login-status .cms-login-status__logout-link:hover {
  color: #fff !important;
}
.cms-menu__list li a:hover,
.cms-menu__list li a:focus {
  color: #fff !important;
}
.branded-menu .branded-menu__list-item--children.opened a:hover,
.branded-menu .branded-menu__list-item--children.opened a:focus {
  color: #fff !important;
}
.cms .branded-menu .branded-menu__list-item--children > a:hover,
.cms .branded-menu .branded-menu__list-item--children.opened > a:hover {
  color: #fff !important;
}

/* CMS ACTIVE BACKGROUND COLOR */
.cms-mobile-menu-toggle.cms-mobile-menu-toggle--open {
  background: #3a4fff !important;
}
.cms-menu__list li.current a {
  background: #3a4fff !important;
}
.cms-mobile-menu-toggle.cms-mobile-menu-toggle--open {
  background: #3a4fff !important;
}
.branded-menu
  .branded-menu__list-item--children
  .branded-menu__list-item.current
  a {
  background: #3a4fff !important;
}

/* CMS ACTIVE COLOR */
.cms-mobile-menu-toggle.cms-mobile-menu-toggle--open {
  color: #fff !important;
}
.cms-menu__list li.current a {
  color: #fff !important;
}
.cms-mobile-menu-toggle.cms-mobile-menu-toggle--open {
  color: #fff !important;
}
.branded-menu
  .branded-menu__list-item--children
  .branded-menu__list-item.current
  a {
  color: #fff !important;
}

/* CMS DRAWER BACKGROUND COLOR */
.cms-mobile-menu-toggle {
  background: #3a4fff !important;
}

.branded-menu .branded-menu__list-item--children.opened a {
  background: #3a4fff !important;
}
.branded-menu .branded-menu__list-item--children.opened {
  background: #3a4fff !important;
}
.branded-menu__list-item--children .branded-menu__list-item {
  background: #3a4fff !important;
}

/* CMS DRAWER COLOR */
.branded-menu .branded-menu__list-item--children.opened a {
  color: currentColor !important;
}
.branded-menu .branded-menu__list-item--children.opened {
  color: currentColor !important;
}
.branded-menu__list-item--children .branded-menu__list-item {
  color: currentColor !important;
}

/* CMS ICON COLOR */
.cms .menu__icon,
.cms-login-status__profile-link i,
.cms-login-status .cms-login-status__logout-link {
  color: currentColor !important;
}

/* CMS LINK COLOR */
.cms-tree.jstree a,
.cms-tree.jstree a:link,
.tree-holder.jstree a,
.tree-holder.jstree a:link,
a {
  color: #3a4fff !important;
}

/* CMS LEFT MENU BOTTOM COLORS */
.cms-menu .sticky-toggle__button {
  color: #fff !important;
}
.cms-menu .sticky-toggle__button:hover {
  background-color: #3a4fff !important;
}

.cms-panel .cms-panel-toggle .toggle-collapse,
.cms-panel .cms-panel-toggle .toggle-expand {
  color: #fff !important;
  background-color: #13171a !important;
}

.cms-panel .cms-panel-toggle a.toggle-collapse:hover,
.cms-panel .cms-panel-toggle a.toggle-expand:hover {
  background-color: #3a4fff !important;
}

/* CMS Left Menu - silverstripe logo toggle */
.cms-help__toggle {
  background-color: #3a4fff;
}
.cms-help__toggle-title {
  color: #fff;
}
.cms-help__caret.font-icon-caret-up-two {
  color: #fff;
}

/* LOADER */
.cms .cms-content-loading-spinner {
  background: transparent url(./../images/logo-loader2.gif) no-repeat 50% 50%;
}

/* .cms .ss-loading-screen:before {
  background: url(./../images/all4-logo.png) no-repeat 50% 50%;
  content: "";
  height: 100%;
  width: 100%;
} */
/* .cms .ss-loading-screen h3 {
  display: none;
} */
/* .ss-uploadfield .ss-uploadfield-files .ss-uploadfield-item-editform.loading {
  background: url(./../images/all4-logo.png) no-repeat top !important;
  padding-top: 30px;
} */
.cms-content-loading-spinner > .spinner {
  display: none;
}
